@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Droid+Sans|Muli|Dosis|Exo+2|Cuprum|Play|Audiowide');

$roboto-slab: "Roboto Slab" , serif;
$droid-sans: "Droid Sans , sans-serif";
$muli: "Muli, sans-serif";
$dosis: "Dosis, sans-serif";

$mainWindowFont: muli;
$mainFontSize : 15px;
$breakpoint-tablet: 768px;
$breakpoint-phone:480px;

$anchorColor: #ffffff;
$contentGradient: linear-gradient(45deg, #E9F0F2, #E4F1F5);
$bottomGradient:     linear-gradient(135deg, #28044D, #0D0224);
$loadingBarGradient: linear-gradient(90deg,#699ef4, #508ff4);
$buttoncolor: green;



$corkColor1:#666666;
$corkColor2:#996666;

$patterncolor1: #000000;
$patterncolor2: #000004;
$patterncolor3: #000008;
$patterncolor4: #000012;
$patterncolor5: #000016;
$patterncolor6: #000020;

.mymodal .modal-dialog
{
  top:0px;
  position:absolute;
  left: 0px;
  width:250px;
  height:300px;
  margin-top:5px;
  margin-bottom:5px;
  margin-left:0px;
  margin-right:0px;
}
.modal-backdrop{display:none;}
.modal-content{border:0px;}




.myContextMenuBefore
{
  position:absolute;
  left:55px;
  top:-8px;
  width:10px;
  height:10px;
  border-color:darken($corkColor2, 15%);
  border-style: solid; 
  border-width: 3px 0px 0px 3px;
  background:url('../media/cheap_diagonal_fabric_mirrored.png');
  transform: rotate(45deg);
}

.myContextMenuAfter
{
  position:absolute;
  left:55px;
  top:292px;
  width:10px;
  height:10px;
  border-color:darken($corkColor2, 15%);
  border-style: solid;
  border-width: 3px 0px 0px 3px;
 background:url('../media/cheap_diagonal_fabric_mirrored.png');
  transform: rotate(225deg);
}

.myContextMenu
{
  position:absolute;
  z-index:10000;
  color:black;
  font-size:20px;
  border:4px solid darken($corkColor2, 15%);
  background:url('../media/cheap_diagonal_fabric_mirrored.png');
  box-shadow: 5px 5px 5px #888888; 
  border-radius:6px;
  height:300px;
  width:250px;
  padding-bottom:0px ;
  transition:  visibility 0.1s, opacity 0.3s;
  #edit_button
  {
    font-size:25px;
    position:absolute;
    left:220px;
    z-index:2000;
    top: 5px;
    color: #FCFCFC;
    
    :hover 
    {
      color: $corkColor2;
      transform: scale(1.09);
      cursor:default;
      }
    :active
    {
      cursor:default;
      color: lighten($corkColor2, 25%);
    }
    .fa-pencil
    {
    color:darken($corkColor2, 15%);
    }
    .fa-square-o
    {
      top:2px;
      transform: scale(1.09);
      color:darken($corkColor2, 15%);
      padding:0px;margin:0px;
    };
          


  }
   ul
      {
        list-style: none;
        margin: 2px;
        padding:0px;
      }
  li
      {
        padding: 0.5em 0.5em 0.5em 0.5em;
        list-style: none;
        margin: 2px;
      }    

  .contextMenuContentArea
    {
      overflow:auto;
      height:198px;
      padding:3px;
      li
      {
        background:url('../media/cork-wallet.png');
      }
      :hover
      {
        background:url('../media/cork-wallet_blue.png');
      }
    }
  .contextMenuMenuArea
  {
      overflow:auto;
      height:90px;
      padding:3px;
      li
      {
          .menuselected
          {
            border:1px solid red;
          }
       background:url('../media/cork-wallet_grey.png');
      }
      :hover
      {
          background:url('../media/cork-wallet_grey_lighter.png');
      }
      ul
      {
        background: lightgrey;
        font-family: sans-serif;
      li
      {
        
        font-family: sans-serif;
      }
    }
  }

}


html {
  height: 100%;
}

body {
  font-family: $mainWindowFont, roboto, sans-serif;
  font-size: 100%;
  height: 100%;
}

.mainContainer {
  height: 100%;
  background: url("../media/concrete_seamless.png");
  padding: 0px;
  display:flex;
  flex-direction:column;
  overflow-x:hidden;
  
}

.navContainer {
  width: 100%;
  height: 15%;
  z-index: 1000;
  background: url("../media/cork-wallet_grey.png");
  color: black;
  padding: 0px 10px 0px 10px;
  box-shadow: 0px 5px 5px #888888;
  border-bottom: 1px solid grey;

  .navContainer_child {
    display: flex;
    height: 100%;
    flex-direction: column;

    .loginfield
    {
     display:flex; 
     flex-direction:row; 
     align-items: center;
     margin-right:10px;
    }

      .navContainer_grandchild1 {
      display: flex;
      align-items:center;

      .navList
      {

      }
      .navHeading a {
        text-transform: uppercase;
        letter-spacing: 5px;
        color:black;
        text-decoration:none
      }


      ul {
        font-family:play;
        display: flex;
        font-size: 1.5em;
        list-style: none;
        margin: 0;

        a {
          text-transform: uppercase;
          padding: 5px;
          display: inline-block;
          text-decoration: none;
          color: darken($corkColor1, 15%);
        }
        a:hover {
          
          background: lighten($corkColor1,15%);
          border-radius: 5px;
          transform: scale(1.05);
        }
      }
    }
    .navContainer_grandchild2 {    
      input {
        box-shadow:inset 1px 1px 2px  #888;
        background: #fff;
        width:100%;
      }
    }
  }
}





.centerContainer
{
  height:79%;
  .centerFlexContainer
  {
  height:100%;
  display:flex;
    .textContainer
    {
      height:100%;
      display:flex;
      flex-direction:column;
      .iconContainer 
      {
        height:7%;
        margin-left: 10px;
        margin-right: 10px;
        display: flex;
        justify-content: flex-start;
       
          span {
            padding: 5px;
            color: darken($corkColor2, 15%);
          }
          span:hover {
            color: $corkColor2;
            transform: scale(1.08);
            cursor:default;
          }
          span:active
          {
            cursor:default;
            color: lighten($corkColor2, 25%);
          }

          .green
          {
            color:green;
          }
          .green:hover
          {
            transform: scale(1.08);
          }
          .green:active
          {
            color:lighten(green,20%);
          }

         .orange
          {
            color:orange;
          }
          .orange:hover
          {
            transform: scale(1.08);
          }
          .orange:active
          {
            color:lighten(orange,20%);
          }
          
          .red
          {
            color:red;
          }
          .red:hover
          {
            transform: scale(1.08);
          }
          .red:active
          {
            color:lighten(red,20%);
          }
          

      }
      h6
      {
        background: #F1F1F1 url("../media/cheap_diagonal_fabric_mirrored.png");
        font-family:play;
        font-size:15px;
        text-transform: uppercase;
        border-left: 1px solid white ;
        border-top: 1px solid white ;
        border-right: 1px solid white ;
        border-bottom: 0px;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        margin-bottom: 0px;
        padding: .6em;
        color:grey;
        box-shadow: 3px 3px 5px #888888;
      }
      .textWindow 
      {
        color: #111;
        height:100%;
        border-radius: 10px;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 10px;
        box-shadow: 5px 5px 5px #888888; 
      
      }
        .originalTextWindow
        { 
          background: url("../media/cheap_diagonal_fabric_mirrored.png");
        }
        .editorWindow
        {
          background: url("../media/cheap_diagonal_fabric.png");
        }
    }
    .leftContainer
    {
      width:49%;
      transition:width 0.2s;
    }
    .leftContainerCollapsed
    {
      width:0%;
      display:none;
      transition:width 0.2s;
    }

    .rightContainer
    {
      width:49%;
      transition:width 0.2s;
    }
    .rightContainerFull
    {
      width:98%;
      transition:width 0.2s;
    }
  }
}






#loadingBarContainer1
{
  width: 0%;
  height:0.6%;
  background:linear-gradient(90deg,#bdd4f9, #508ff4);
}

.fadeout
{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 4s, opacity 4s linear;
}

.fadein
{
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;
}





.statusWindow 
{
  display: flex;
  flex-direction: column;
  height: 5.4%;
  padding: 0.5% 0.5% 0px 0.5%;

  .statusWindow_digits 
  {
    display: flex;
    padding:2px;
  }
  .statusDigit
  {
    font-family: audiowide;  
    color:#111;
    padding: 0px 2px 0px 2px;
    border: 1px solid #6600ff;
    border-radius:2px;
    display:inline-block;
    &:hover
    {
     cursor:default;
     transform: scale(2.0);
    }

    
  }
  .statusCaption
  {
    font-family: play;
    color:#222;
    padding:3px;
    

  }
}





.filler
 {
  flex-grow: 1;
}

.container {
  height: 100%;
}

[contenteditable="true"]:focus, [contenteditable="true"]:active {

  color:black;
 background:linear-gradient(0deg,rgba(0,0,0,0), rgba(0,0,255,0.2), rgba(0,0,0,0));

border-radius: 3px;
  outline: none;
}

/*gives a correction to stack font awesome icons in the middle*/
.fa-square-o {
  margin-top: .05em;
}

.wordModelContainer
{
  font-size:0px;
}

.wordModel {
font-size:20px;
display:inline;
white-space:pre;
}

.originalWord_underlined {
  border-bottom: 2px solid green;
  font-size:20px;
  cursor: pointer;
}

.wordModel_underlined {
  box-sizing: content-box;
  border-bottom: 2px dotted blue;
  font-size:20px;
  white-space:pre;
  cursor: pointer;

}

.wordModel_suffix {
  white-space: pre;
  font-size:20px;
}

.wordModel_suffix_underlined {
  white-space: pre;
  border-bottom: 2px solid green;
}

.wordModel_currentword_container {
  display: flex;
  flex-direction: column;
}

.loginIcons
{
  padding: 5px;
  color: darken($corkColor2,15%);
  margin-bottom: .4em;
  margin-left: .4em;
}

.loginIcons:hover
{
  color: $corkColor2;
  transform: scale(1.08);
  cursor:default;
}

.loginIcons:active
{
  color: lighten($corkColor2, 15%);
  transform: scale(1.08);
  cursor:default;
}

.loginText
{
  color: darkgrey;
  font-family:audiowide;

}

.iconCorrection
{
  margin-left:.3em;
}

.iconCorrection2
{
  color:red;
}

#logoimage
{
  height:25px;
}




