<!DOCTYPE html>
<div id = "contextMenu"  class="myContextMenu">
<div id = "contextMenuBefore" class="myContextMenuBefore"></div>
<span id="edit_button"   class="fa-stack fa-lg" ng-click="vm2.editWord()">
                    <i class="fa fa-square fa-stack-2x "></i>
                    <i class="fa fa-square-o fa-stack-2x "></i>
                    <i class="fa fa-pencil fa-stack-1x "></i>
                </span> 	
	<div id="contextMenuContentArea" class=" contextMenuContentArea">
        <ul>
            <li id=contextMenuContentSyn ng-show = "vm2.showSynonyms" ng-repeat="synonym in vm2.theword.synonyms track by $index" >
                    <span id="contextMenuSynonyms" ng-click="vm.showSynonym($index,$parent.$index)">{{synonym}}</span>
            </li>
            <li id=contextMenuContentRhy ng-show = "vm2.showRhyme;" ng-repeat="rhymeword in vm2.theword.rhymewords track by $index" >
                    <span id="contextMenuRhymewords" ng-click="vm.showRhymeWord($index,$parent.$index)">{{rhymeword}}</span>
                </li>
            <li id=contextMenuContentDes ng-show = "vm2.showDescription" ng-repeat="description in vm2.theword.description track by $index">  <span id="contextMenuDescription" ng-click="vm.showDescription($index,$parent.$index)">{{description}}</span></li>        
        </ul>
    </div>
    <div id="contextMenuMenuArea" class=" contextMenuMenuArea">
        <ul>
            <li id="contextMenuMenuSyn" ng-click="vm2.showSynonyms = true; vm2.showRhyme = false; vm2.showDescription = false;vm2.showCmContent('contextMenuMenuSyn', $index)" class="menuselected"><span><i class="fa fa-umbrella"></i></span> synoniemen</li>
            <li id="contextMenuMenuRhy"  ng-click="vm2.showSynonyms = false; vm2.showRhyme = true; vm2.showDescription = false;;vm2.showCmContent('contextMenuMenuRhy', $index)"><span><i class="fa fa-bell"></i></span>rijmwoorden</li>
            <li id=contextMenuMenuDes  ng-click="vm2.showSynonyms = false; vm2.showRhyme = false; vm2.showDescription = true;vm2.showCmContent('contextMenuMenuDes', $index)"><span><i class="fa fa-info"></i></span>beschrijving</li>
            <li id=contextMenuMenuOri ng-click=";vm2.showCmContent('restore', $index)"><span><i class="fa fa-undo"></i></span>{{vm2.theword.originalword}}</li>
        </ul>
    </div>
    <div id = "contextMenuAfter" class="myContextMenuAfter"></div>
</div>
