<!DOCTYPE html>
<span id="myWord{{$index}}" contenteditable="false" ng-model="vm.wordModel[$index].currentword" navigate	ng-focus="vm.setCurrentWord(item,$index)" spellcheck="false" 
            ng-class="item.synonyms.length > 0?'wordModel_underlined':'wordModel'">
            {{vm.wordModel[$index].currentword}}</span>
<span class="wordModel_suffix" id="mySuffix{{$index}}" contenteditable="false" ng-model="item.suffix">{{item.suffix}}</span>
<con-menu id = "myConmenu{{$index}}" style="visibility: hidden;"></con-menu>



